In [0]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as bs
url = "https://finance.naver.com/item/main.nhn?code=005930"
samsung = requests.get(url)
soup=bs(samsung.text,'html.parser')
finance_html = soup.select('div.section.cop_analysis div.sub_section')

url2 = "https://finance.naver.com/item/coinfo.nhn?code=005930"
finance_html2 = soup.select('div.section.cop_analysis div.sub_section')

data = pd.read_html(samsung.text)
len(data)
target_data = data[3]

colName = target_data.columns.values
print(colName)
yearIdx = [0]
yearName = ['type']
quaterIdx = [0]
quaterName = ['type']

for i in range(0,len(colName)): 
    if colName[i][0] == '최근 연간 실적' :
        if '(E)' not in colName[i][1]:
            yearIdx.append(i)
            yearName.append(colName[i][1])

    elif colName[i][0] == '최근 분기 실적' :
        if '(E)' not in colName[i][1]:
            quaterIdx.append(i)
            quaterName.append(colName[i][1])
            
print(yearIdx)
print(quaterIdx)
print(yearName)
print(quaterName)

[('주요재무정보', '주요재무정보', '주요재무정보') ('최근 연간 실적', '2016.12', 'IFRS연결')
 ('최근 연간 실적', '2017.12', 'IFRS연결') ('최근 연간 실적', '2018.12', 'IFRS연결')
 ('최근 연간 실적', '2019.12(E)', 'IFRS연결') ('최근 분기 실적', '2018.03', 'IFRS연결')
 ('최근 분기 실적', '2018.06', 'IFRS연결') ('최근 분기 실적', '2018.09', 'IFRS연결')
 ('최근 분기 실적', '2018.12', 'IFRS연결') ('최근 분기 실적', '2019.03', 'IFRS연결')
 ('최근 분기 실적', '2019.06(E)', 'IFRS연결')]
[0, 1, 2, 3]
[0, 5, 6, 7, 8, 9]
['type', '2016.12', '2017.12', '2018.12']
['type', '2018.03', '2018.06', '2018.09', '2018.12', '2019.03']

In [0]:
def make_table(dart_data, idx, colnames, code):
    #컬럼필터링 & Transpos
    temp_data = dart_data.iloc[:,idx]
    temp_data.columns = colnames
    temp_data_T = temp_data.T

    # 종목컬럼추가
    temp_data_T.columns = temp_data_T.iloc[0]
    temp_data_T = temp_data_T.drop("type", axis=0)
    temp_data_T['code'] =  [code]*len(temp_data_T)
    col_1 = temp_data_T.columns.tolist()
    col_2 = col_1[-1:] + col_1[:-1]
    temp_data_T = temp_data_T[col_2]
    temp_data_T
    temp_data_T = temp_data_T.reset_index()
    temp_data_T = temp_data_T.rename(columns={'index' : 'DATE'})

    # 임시 프린트
    print(temp_data_T.head(3))
    return temp_data_T

In [0]:
year_data = make_table(target_data, yearIdx,yearName,'005930'  )
year_data

type     DATE    code          매출액    영업이익  ... BPS(원) 주당배당금(원) 시가배당률(%) 배당성향(%)
0     2016.12  005930  2.01867e+06  292407  ...  26636      570     1.58   17.81
1     2017.12  005930  2.39575e+06  536450  ...  30427      850     1.67   14.09
2     2018.12  005930  2.43771e+06  588867  ...  35342     1416     3.66   21.92

[3 rows x 16 columns]

type     DATE    code          매출액    영업이익  ... BPS(원) 주당배당금(원) 시가배당률(%) 배당성향(%)
0     2016.12  005930  2.01867e+06  292407  ...  26636      570     1.58   17.81
1     2017.12  005930  2.39575e+06  536450  ...  30427      850     1.67   14.09
2     2018.12  005930  2.43771e+06  588867  ...  35342     1416     3.66   21.92

[3 rows x 16 columns]

In [0]:
quater_data = make_table(target_data, quaterIdx,quaterName,'005930'  )
quater_data

type     DATE    code     매출액    영업이익  ... BPS(원) 주당배당금(원) 시가배당률(%) 배당성향(%)
0     2018.03  005930  605637  156422  ...  31782      NaN      NaN     NaN
1     2018.06  005930  584827  148690  ...  33223      NaN      NaN     NaN
2     2018.09  005930  654600  175749  ...  34519      NaN      NaN     NaN

[3 rows x 16 columns]

type     DATE    code     매출액    영업이익  ... BPS(원) 주당배당금(원) 시가배당률(%) 배당성향(%)
0     2018.03  005930  605637  156422  ...  31782      NaN      NaN     NaN
1     2018.06  005930  584827  148690  ...  33223      NaN      NaN     NaN
2     2018.09  005930  654600  175749  ...  34519      NaN      NaN     NaN
3     2018.12  005930  592650  108006  ...  35342      NaN      NaN     NaN
4     2019.03  005930  523855   62333  ...  36142      NaN      NaN     NaN

[5 rows x 16 columns]